node_modules
.pnpm-store
pnpm-workspace.yaml
.next
.next-build
out
public/sw*.js
public/workbox-*.js
public/worker-*.js
*.log
.env
.env.local
prisma/dev.db
prisma/dev.db-journal
.DS_Store
*.tsbuildinfo
